@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: 300ms ease-in-out;
    text-decoration: none;

    cursor: url("images/imlec/cursor.cur"),auto;
 
}

body {

    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    font-size: 5vh;

    cursor: url(images/2021\ Twitter\ logo\ -\ blue.png),auto;

    
}


.color1 {
    color: #502d53;
}

.color2 {
    color: #753961;
}

.color3 {
    color: #ad4e76;
}

.color4 {
    color: #f7718e;
}

.color5 {
    color: #ffa5a6;
}

.header .navbar {
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
    background-color: #753961;
    position: absolute;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;

    position: fixed;
    box-shadow: 4px 3px 20px black;

}

.header .navbar img {
    width: 10vh;
}

footer {
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: center;
    align-items: center;
    background-color: #753961;
    bottom: 0;
    position: fixed;
    color: #ffa5a6;
    box-shadow: -4px -3px 20px black;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    text-shadow: 3px 7px 20px rgb(0, 0, 0);
    font-size: 2vh;



}

footer a {
    display: block;
    

}

img {
    width: 5vh;
    justify-content: flex-end;
    margin: 1vh;
    cursor: url(images/imlec/pointerimlec.cur),auto;


}

.header .navbar p,
.header .navbar img {
    text-align: center;
    display: block;
    margin: 0 7vh;
    font-weight: 900;
    position: sticky;
    text-shadow: 3px 7px 20px rgb(0, 0, 0);

}


.anamenu {
    display: block;
    width: 100%;
    height: 150vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(rgba(0,0,0,0.1),#ffffff19) ,url(images/wepik-export-20230604181547V7D4.png);
    color: #753961;
    padding-top: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0px 7px 20px #ffa5a6;
    background-size: cover;
}

.yazilar {
    padding: 10%;
}

.yazilar img {
    width: 10vh;
    justify-content: flex-end;
    position: static;

}

.anamenu p {

    text-align: left;
    width: max-content;
    font-weight: 900;
    cursor: auto;
    display: inline-block;
    user-select: none;

    font-family: 'Poppins', sans-serif;

}

.anamenu h1 {
    text-align: justify;
    width: 100%;
    font-weight: 900;
    
    user-select: none;


}

.header .navbar p a:hover,
.header .navbar img:hover {
    color: #f7718e;
    cursor: url(images/imlec/pointerimlec.cur),auto;
    font-size: 2.6vh;



}

.header .navbar p a {
    text-decoration: none;
    color: #ffa5a6;
    font-weight: 600;
    font-size: 2.2vh;
    display: block;


}

.anamenunavbar {
    left: 0;
}
.yansayfa{
    display: block;
    width: 100%;
    height: 150vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
    padding-top: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0px 7px 20px #ffa5a6;
    font-size: 10vh;
    text-align: center;
    
    
    
    
}

.icerikyan{
    justify-content: center;
    padding: 12vh;
    width: 50%;
    text-align: center;
    display: block;
    float: left;
    
    
   
   
}
.yansayfa .icerikyan a{
    justify-content: center;
    display: inline;
    width: 40vh;
    
    
}
.icerik{
    
    background-repeat: no-repeat;
}   


h2{
    font-size: 3vh;
    color:#ffa5a6;
    background:linear-gradient(90deg,#502d53,#ad4e76);
    display: inline;
    box-shadow: 0px 4px 20px #502d53;
    text-shadow: 3px 5px 10px #753961;
    border-radius: 0vh 0vh 1vh 1vh;
    cursor: url(images/imlec/pointerimlec.cur),auto;
    
}
h2:hover{
    background:linear-gradient(90deg,#ad4e76,#502d53);
    font-size: 4vh;

}
 table{
    text-align: center;
    justify-content: center;
    display: inline-block ;
    

}
td{
    text-align: center;
    justify-content: center;
}

table.table a {
    display: inline;
}

.patlicanmusakka{
    background: url(images/patlicanmusakkaedit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #815945;

    
}

.klasikkofte{
    background: url(images/klasikkofte.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #9b3a1c;

}
.alinazik{
    background: url(images/alinazik.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.turlu{
    background: url(images/turlu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #7c5a23;

}
.firindatavuk{
    background: url(images/firindatavuk.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #912116;
}
.kurufasulye{
    background: url(images/kurufasulye.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #C94400;
}
.hamsibuglama{
    background: url(images/hamsibuglama.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cokertmekebabi{
    background: url(images/cokertmekebabi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #9c7270;
}
.imambayildi{
    background: url(images/imambayildi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #8E4C29;
}
.sutlac{
    background: url(images/sutlac.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #8C531B;
}
.sogukbaklava{
    background: url(images/sogukbaklava.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #A26335;
}
.asure{
    background: url(images/asure.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffebeb;
}
.kazandibi{
    background: url(images/kazandibi.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #69583a;
}
.turkkahvesi{
    background: url(images/turkkahvesi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #4E3D36;
}
.espresso{
    background: url(images/espresso.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.americano{
    background: url(images/americano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.cafelatte{
    background: url(images/cafelatte.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #964000;
}
.limonata{
    background: url(images/limonata.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #efedd3;

}
.milkshake{
    background: url(images/milksahke.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #B64218;
}
.icetea{
    background: url(images/icetea.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #572704;

}
h6{
    font-size: 4vh;
}
.shadow{
    text-align: left;
    background: rgba(255, 255, 255, 0.007);
    box-shadow: 4px 3px 20px rgb(0, 0, 0);
}

p{
    text-align: center;
}
